<div class="off-canvas-wrapper">
  <main class="wrapper">
    <div class="row column">
      <h2 class="section-heading">Process card</h2>
    </div>
    <div class="row small-up-1 medium-up-2 mediumlarge-up-2 large-up-3 card-grid">
      <div class="column">
        <%= partial "d_card", locals: { image: true, process: true, preTitle: '13/02/2020 - 20/03/2021', ariaPreTitle: 'Duration dates' } %>
      </div>
    </div>

    <div class="row small-up-1 medium-up-2 mediumlarge-up-2 large-up-3 card-grid">
      <div class="column">
        <%= partial "d_card", locals: { image: true, preTitle: '13/02/2020 - 20/03/2021', ariaPreTitle: 'Duration dates' } %>
      </div>
    </div>

    <div class="row column">
      <h2 class="section-heading">Proposal/Initiative/card</h2>
    </div>
    <div class="row small-up-1 medium-up-2 mediumlarge-up-2 large-up-3 card-grid">
      <div class="column">
        <%= partial "d_card" %>
      </div>
      <div class="column">
        <%= partial "d_card" %>
      </div>
      <div class="column">
        <%= partial "d_card" %>
      </div>
    </div>

    <div class="row column">
      <h2 class="section-heading">Proposal/Initiative/card with status</h2>
    </div>
    <div class="row small-up-1 medium-up-2 mediumlarge-up-2 large-up-3 card-grid">
      <div class="column">
        <%= partial "d_card", locals: {status: 'accepted' } %>
      </div>
      <div class="column">
        <%= partial "d_card", locals: { status: 'rejected' } %>
      </div>
      <div class="column">
        <%= partial "d_card", locals: {status: 'rejected', customMessage: 'Unsuccessful' } %>
      </div>
    </div>

    <div class="row column">
      <h2 class="section-heading">Proposal/Initiative/card with image</h2>
    </div>
    <div class="row small-up-1 medium-up-2 mediumlarge-up-2 large-up-3 card-grid">
      <div class="column">
        <%= partial "d_card", locals: { image: true} %>
      </div>
      <div class="column">
        <%= partial "d_card", locals: { image: true } %>
      </div>
      <div class="column">
        <%= partial "d_card", locals: { image: true } %>
      </div>
    </div>

    <div class="row column">
      <h2 class="section-heading">Card with type title (for disambiguation)</h2>
    </div>
    <div class="row small-up-1 medium-up-2 mediumlarge-up-2 large-up-3 card-grid">
      <div class="column">
        <%= partial "d_card", locals: { preTitle: 'Proposal' } %>
      </div>
    </div>

    <div class="row column">
      <h2 class="section-heading">Card with process origin (for disambiguation)</h2>
    </div>
    <div class="row small-up-1 medium-up-2 mediumlarge-up-2 large-up-3 card-grid">
      <div class="column">
        <%= partial "d_card", locals: { processOrigin: true } %>
      </div>
    </div>

    <div class="row column">
      <h2 class="section-heading">Card with relative date of creation</h2>
    </div>
    <div class="row small-up-1 medium-up-2 mediumlarge-up-2 large-up-3 card-grid">
      <div class="column">
        <%= partial "d_card", locals: { relativetDate: true } %>
      </div>
    </div>

    <div class="row column">
      <h2 class="section-heading">Meetup card</h2>
    </div>
    <div class="row small-up-1 medium-up-2 mediumlarge-up-2 large-up-3 card-grid">
      <div class="column">
        <%= partial "d_card", locals: { meetup: true } %>
      </div>
    </div>
    <div class="row column">
      <h2 class="section-heading">Meetup card with autor</h2>
    </div>
    <div class="row small-up-1 medium-up-2 mediumlarge-up-2 large-up-3 card-grid">
      <div class="column">
        <%= partial "d_card", locals: { meetup: true, meetupAuthor: true } %>
      </div>
    </div>

    <div class="row column">
      <h2 class="section-heading">initiative card</h2>
    </div>
    <div class="row small-up-1 medium-up-2 mediumlarge-up-2 large-up-3 card-grid">
      <div class="column">
        <%= partial "d_card", locals: { initiative: true } %>
      </div>
      <div class="column">
        <%= partial "d_card", locals: { initiative: true, initiativeEnd: true } %>
      </div>
    </div>


  </main>
</div>