<div class="d-module-nav">
  <nav class="d-module-nav__content">
    <ul class="d-module-nav__links">
      <li>
        <%= link_to page_path("redesign/process-landing"), class: "d-module-nav__link #{'is-active' if @activepage == 'info'}" do %>
        <span>Description</span>
        <% end %>
      </li>
      <li>
        <%= link_to page_path("redesign/process-landing"), class: "d-module-nav__link #{'is-active' if @activepage == 'meetings'}" do %>
        <span>Meetings</span>
        <% end %>
      </li>
      <li>
        <%= link_to page_path("redesign/process-landing"), class: "d-module-nav__link #{'is-active' if @activepage == 'proposals'}" do %>
        <span>Proposals</span>
        <% end %>
      </li>
      <li>
        <%= link_to page_path("redesign/process-landing"), class: "d-module-nav__link #{'is-active' if @activepage == 'initiatives'}" do %>
        <span>Initiatives</span>
        <% end %>
      </li>
      <li>
        <%= link_to page_path("redesign/process-landing"), class: "d-module-nav__link #{'is-active' if @activepage == 'debates'}" do %>
        <span>Debates</span>
        <% end %>
      </li>
      <li>
        <%= link_to page_path("redesign/process-landing"), class: "d-module-nav__link #{'is-active' if @activepage == 'results'}" do %>
        <span>Results</span>
        <% end %>
      </li>
      <li>
        <%= link_to page_path("redesign/process-landing"), class: "d-module-nav__link #{'is-active' if @activepage == 'assemblies'}" do %>
        <span>Assemblies</span>
        <% end %>
      </li>
      <li>
        <%= link_to page_path("redesign/process-technical"), class: "d-module-nav__link #{'is-active' if @activepage == 'technical'}" do %>
        <span>Technical data</span>
        <% end %>
      </li>
    </ul>
    <button class="button tiny d-module-nav__more" data-toggle="process-nav__hide-content">
      More
    </button>
    <div class="dropdown-pane d-module-nav__hidden-content" id="process-nav__hide-content"
      data-dropdown
      data-hover="true"
      data-hover-pane="true"
      data-position="bottom"
      data-alignment="right">
      <ul>
      </ul>
    </div>
  </nav>
</div>
