<div class="d-module-nav">
  <nav class="d-module-nav__content">
    <ul class="d-module-nav__links">
      <li class="<% if @activepage == "info" %>is-active<% end %>">
        <%= link_to page_path("info"), class: "d-module-nav__link #{'is-active' if @activepage == 'info'}" do %>
        <span>Description</span>
        <% end %>
      </li>
      <li class="<% if @activepage == "meetings" %>is-active<% end %>">
        <%= link_to page_path("meetings/meetings"), class: "d-module-nav__link #{'is-active' if @activepage == 'meetings'}" do %>
        <span>Meetings</span>
        <% end %>
      </li>
      <li class="<% if @activepage == "proposals" %>is-active<% end %>">
        <%= link_to page_path("proposals/proposals"), class: "d-module-nav__link #{'is-active' if @activepage == 'proposals'}" do %>
        <span>Proposals</span>
        <% end %>
      </li>
      <li class="<% if @activepage == "initiatives" %>is-active<% end %>">
        <%= link_to page_path("initiatives/initiatives"), class: "d-module-nav__link #{'is-active' if @activepage == 'initiatives'}" do %>
        <span>Initiatives</span>
        <% end %>
      </li>
      <li class="<% if @activepage == "debates" %>is-active<% end %>">
        <%= link_to page_path("debates"), class: "d-module-nav__link #{'is-active' if @activepage == 'debates'}" do %>
        <span>Debates</span>
        <% end %>
      </li>
      <li class="<% if @activepage == "actions" %>is-active<% end %>">
        <%= link_to page_path("results"), class: "d-module-nav__link #{'is-active' if @activepage == 'results'}" do %>
        <span>Results</span>
        <% end %>
      </li>
      <li class="<% if @activepage == "assemblies" %>is-active<% end %>">
        <%= link_to page_path("assemblies/assemblies"), class: "d-module-nav__link #{'is-active' if @activepage == 'assemblies'}" do %>
        <span>Assemblies</span>
        <% end %>
      </li>
      <li class="<% if @activepage == "blog" %>is-active<% end %>">
        <%= link_to page_path("blog"), class: "d-module-nav__link #{'is-active' if @activepage == 'blog'}" do %>
        <span>Blog</span>
        <% end %>
      </li>
    </ul>
    <button class="button tiny d-module-nav__more" data-toggle="process-nav__hide-content">
      More
    </button>
    <div class="dropdown-pane d-module-nav__hidden-content" id="process-nav__hide-content"
      data-dropdown
      data-hover="true"
      data-hover-pane="true"
      data-position="bottom"
      data-alignment="right">
      <ul>
      </ul>
    </div>
  </nav>
</div>
